<div class="main text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h1 class="bg-primary text-uppercase text-center">Rective form </h1>
        <form [formGroup]="empform" (ngSubmit)="onaddemp()" class="formclss">
          <div class="form-group">
            <label for="username">username*</label>
            <input type="text" class="form-control" formControlName="username" issumit>
            <span class="text-danger" *ngIf="this.f['username'].touched && this.f['username'].hasError('required')">
              this field is required !!!
            </span>
            <ng-container *ngIf="this.f['username'].dirty">
              <span class="text-danger" *ngIf="this.f['username'].hasError('pattern')">
                plz enter only charachter here !!!
              </span>
              <span class="text-danger" *ngIf="this.f['username'].hasError('minlength')">
                the minlength requiredlength is {{this.f['username'].errors?.['minlength'].requiredLength}} and actual
                length is {{this.f['username'].errors?.['minlength'].actualLength}}
              </span>
              <span class="text-danger" *ngIf="this.f['username'].hasError('maxlength')">
                the maxlength requiredlength is {{this.f['username'].errors?.['maxlength'].requiredLength}} and actual
                length is {{this.f['username'].errors?.['maxlength'].actualLength}}
              </span>
            </ng-container>
            <span class="text-danger" *ngIf="this.f['username'].hasError('spaceerr')">
              {{this.f['username'].errors?.['spaceerr']}}
            </span>
  
          </div>
          <div class="form-group">
            <label for="email">email*</label>
            <input type="text" class="form-control" formControlName="email">
            <span class="text-danger" *ngIf="this.f['email'].touched && this.f['email'].hasError('required')">
              this field is required !!!
            </span>
            <ng-container *ngIf="this.f['email'].dirty">
              <span class="text-danger" *ngIf="this.f['email'].hasError('pattern')">
                plz valid email id
              </span>
              <span class="text-danger" *ngIf="this.f['email'].hasError('minlength')">
                the minlength requiredlength is {{this.f['email'].errors?.['minlength'].requiredLength}} and actual
                length is {{this.f['email'].errors?.['minlength'].actualLength}}
              </span>
              <span class="text-danger" *ngIf="this.f['email'].hasError('maxlength')">
                the maxlength requiredlength is {{this.f['email'].errors?.['maxlength'].requiredLength}} and actual
                length is {{this.f['email'].errors?.['maxlength'].actualLength}}
              </span>
            </ng-container>
          </div>
          <div class="form-group">
            <h2>gender*</h2>
            <ng-container *ngFor="let gender of genderarry">
              <label [for]="gender" class="mr-3">
                <input type="radio" [value]="gender" formControlName="gender" [id]="gender">
                {{gender}}
              </label>
            </ng-container>
          </div>
          <div class="form-group">
            <label for="contact" class="mr-3">contact*</label>
            <input type="text" class="form-control" formControlName="contact">
            <span class="text-danger" *ngIf="this.f['contact'].touched && this.f['contact'].hasError('required')">
              this field is required !!!
            </span>
            <span class="text-danger" *ngIf="this.f['contact'].dirty && this.f['contact'].hasError('pattern')">
              only 10 number enter here !!!
            </span>
          </div>
          <div class="form-group">
            <label for="empid">empid*</label>
            <input type="text" class="form-control" formControlName="empid" placeholder="N123">
            <span class="text-danger" *ngIf="this.f['empid'].touched && this.f['empid'].hasError('required')">
              this field is required !!!
            </span>
            <span class="text-danger" *ngIf="this.f['empid'].dirty && this.f['empid'].hasError('empiderr')">
              {{this.f['empid'].errors?.['empiderr']}}
            </span>
  
          </div>
  
          <div class="row">
            <div class="col-md-6">
              <div formGroupName="currentadress">
                <h2> current Adresss</h2>
                <div class="form-group">
                  <label for="country">country*</label>
                  <select formControlName="country" class="form-control">
                    <option [value]="contry.name" *ngFor="let contry of countryarr"> {{contry.name}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="state">state*</label>
                  <input type="text" class="form-control" formControlName="state">
                </div>
                <div class="form-group">
                  <label for="city">city*</label>
                  <input type="text" class="form-control" formControlName="city">
                </div>
                <div class="form-group">
                  <label for="zipcode">zipcode*</label>
                  <input type="text" class="form-control" formControlName="zipcode">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div formGroupName="permentadress">
                <h2> current Adresss</h2>
                <div class="form-group">
                  <label for="country">country*</label>
                  <select formControlName="country" class="form-control">
                    <option [value]="contry.name" *ngFor="let contry of countryarr"> {{contry.name}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="state">state*</label>
                  <input type="text" class="form-control" formControlName="state">
                </div>
                <div class="form-group">
                  <label for="city">city*</label>
                  <input type="text" class="form-control" formControlName="city">
                </div>
                <div class="form-group">
                  <label for="zipcode">zipcode*</label>
                  <input type="text" class="form-control" formControlName="zipcode">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">password*</label>
            <input type="text" class="form-control" formControlName="password">
            <span class="text-danger" *ngIf="this.f['password'].touched && this.f['password'].hasError('required')">
              this field is required !!!
            </span>
            <span class="text-danger" *ngIf="this.f['password'].dirty && this.f['password'].hasError('pattern')">
              plz valid email id
            </span>
          </div>
          <div class="form-group">
            <label for="confirmpassword">confirmpassword*</label>
            <input type="text" class="form-control" formControlName="confirmpassword">
            <span class="text-danger"
              *ngIf="this.f['confirmpassword'].touched && this.f['confirmpassword'].hasError('required')">
              this field is required !!!
            </span>
            <span class="text-danger"
              *ngIf="this.f['confirmpassword'].dirty && this.f['confirmpassword'].value !==this.f['password'].value" th>
              it should same confirmpassword and password
            </span>
          </div>
          <div class="text-right">
            <button class="btn btn-info" [disabled]="this.empform.invalid">Add emp</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>